header {
  background-color: rgb(3, 3, 57);
  color: white;
  display: flex;
  justify-content: space-between;
}
body {
  border: 1px solid;
}
main {
  display: flex;
}
nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: cadetblue;
  width: 70px;
  gap: 20px;
}
nav button {
  background-color: rgb(10, 10, 129);
  color: azure;
  padding: 10px;
  border-radius: 4px;
  width: 70px;
  cursor: pointer;
}
nav button:hover {
  background-color: rgb(45, 23, 184);
}
.info {
  padding: 20px;
  flex: 1;
  justify-items: center;
  display: none;
}
#domain {
  display: block;
}
.trial {
  padding: 20px;
}
.text-box {
  padding: 20px;
  background-color: rgb(61, 72, 157);
  color: white;
  border-radius: 5px;
}

.trial button {
  background-color: rgb(10, 10, 129);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.trial button:hover {
  background-color: rgb(45, 23, 184);
}
